header {
    background-color: black; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 15px;
}

h1 {
    margin: 0; 
    font-family: 'Mate SC', serif; 
    font-weight: normal;
}

nav {
    display: flex;
    gap: 1em;
}

 a {
    color: white;
    text-decoration: none;
    padding: 8px; 
    border-radius: 4px;
    transition: background-color 0.3s; 
    background-color: #6c6e86;
    
}



 a:hover {
    background-color: #555; 
}

body {
    background-color: #2E3142;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
    color: white;
}

.container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}

.exercise-container {
    background-color: #6c6e86;
    padding: 20px;
    width: 600px;
    height: 250x;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.exercise-container h3 {
    color: white;
}
.exercise-container p {
    margin: 0;  
    overflow: hidden;
    line-height: 1.5;  
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}