/* Header */
header {
    background-color: black; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
}

.logo{
    float: left;
}


.homeLogo {
    display: flex;
    align-items: center;
}

.name{
    display: flex;
    align-items: center;
    margin-right: 550px;
}

/* Drop down menu*/
.dropDown{
    position: relative;
    display: inline-block;
}

.dropButton{
    border-radius: 0%;
    background-color: #473d87;
    color: white;
    padding: 16px;
    border: none;
}

.dropContent{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropContent a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: wrap;
}

.dropDown a:hover{
    background-color: grey;
}

.dropDown:hover .dropContent{
    display: block; 
    left: auto;
    right: 0%;
}

.dropDown:hover .dropButton{
    background-color: #b637a1;
}
/* End of Drop down menu*/

/* Main */
h2 {
    text-align: center;
    margin-top: 20px;
    color: white;
    margin-bottom: 10px;
    font-size: 40px;
    font-family: 'Mate SC', serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.left-column, .right-column {
    width: 48%;
    height: 90%
}

.box {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    background-color: #6c6e86;
    margin-bottom: 5px;
    border: 1px solid black;
}



/* Goals Box */
#goalsBox {
    width: 90%;
}

/* Nutrition Box */
#nutrition {
    width: 90%;
    margin-top: 20px;
}

/* Current Body Stats Box */
#currentBodyStatsBox {
    width: 94%;
    margin-top: 20px;
}

/* Main */
body {
    background-color: #2E3142;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    text-align: center;
    color: white;
}



.workout-day {
    width: 100%; 
    margin-bottom: 20px; 
}

.workout-day-header {
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
}

.workout-list {
    flex-direction: column;
    max-height: 150px; 
    width: 100%;
    overflow-y: auto; 
}

.workout-list-item {
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.workout-list-item:hover {
    background-color: #c2c2c2;
}


#newGoalInput{
    margin-right: 10px;
}

#goalsList {
    list-style: none;
    padding: 0;
}

.goalItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.goalText {
    flex-grow: 1;
}

p {
    color: white; 
    margin: 10px 0; 
    font-family: 'Mate SC', serif; 
    font-size: 18px; 
    line-height: 1.5; 
}

button{
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6c6e86;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.optionsButton {
    color: white !important;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
    display: none;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 8px 12px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

/* Goals Form */
#addGoalForm {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#addGoalForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #6c6e86; 
}

#addGoalForm input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box; 
}

#addGoalForm button[type="submit"] {
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #6c6e86;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addGoalForm button[type="submit"]:hover {
    background-color: #555;
}

/* Goals List */
#goalsBox div {
    margin-top: 20px;
}

#goalsBox h4 {
    margin-bottom: 10px;
    color: white; 
}

.goalsList {
    list-style: none;
    padding: 0;
}

.goalsList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.goalsList .goalText {
    flex-grow: 1;
}

.goalsList button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #6c6e86;
}

.goalsList button:hover {
    color: #555;
}

#currentBodyStatsForm {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#currentBodyStatsForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Nutrition Form */
#nutritionForm {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#nutritionForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black; 
}

#nutritionForm input[type="number"] {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box; 
}

#nutritionForm button[type="submit"] {
    padding: 10px 20px;
    border: none;
    margin-top: 10px; 
    border-radius: 5px;
    background-color: #6c6e86;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#nutritionForm button[type="submit"]:hover {
    background-color: #555;
}

#currentBodyStatsForm input[type="number"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#currentBodyStatsForm button[type="submit"],
#addCategoryButton {
    padding: 10px 20px;
    border: none;
    margin: 3px;
    border-radius: 5px;
    background-color: #6c6e86;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#currentBodyStatsForm button[type="submit"]:hover,
#addCategoryButton:hover {
    background-color: #555;
}

.modifyGoalButton, .deleteGoalButton{
    color:black;
}

.hidden {
    display: none;
}


/* Header */
header {
    background-color: black; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 15px;
}

h1 {
    margin: 0; 
    font-family: 'Mate SC', serif; 
    font-weight: normal;
}

/* Drop down menu*/
.dropDown{
    position: relative;
    display: inline-block;
}

.dropButton{
    border-radius: 0%;
    background-color: #473d87;
    color: white;
    padding: 16px;
    border: none;
}

.dropContent{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropContent a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: wrap;
}

.dropDown a:hover{
    background-color: grey;
}

.dropDown:hover .dropContent{
    display: block; 
    left: auto;
    right: 0%;
}

.dropDown:hover .dropButton{
    background-color: #b637a1;
}
/* End of Drop down menu*/

/* Main */
h2 {
    text-align: center;
    margin-top: 20px;
    color: white;
    margin-bottom: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 90%;
}

#workoutScheduleBox{
    width: 90%;
    
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    width: 100%;
    padding-left: 15%;
}

.left-column, .right-column {
    width: 100%;
    height: 50%
}

.box {
    padding: 20px;
    border-radius: 10px;
    background-color: #6c6e86;
    margin-bottom: 5px;
    border: 1px solid black;
}



/* Goals Box */
#goalsBox {
    width: 90%;
    margin-bottom: 20px;
}

.goaldelete-btn {
    background-color: #473d87 !important; 
    color: white !important; 
    border: none !important; 
    padding: 5px 10px !important; 
    cursor: pointer !important; 
}

.goaldelete-btn:hover {
    background-color: #b637a1; 
}


/* Current Body Stats Box */
#currentBodyStatsBox {
    width: 90%;
    margin-top: 20px;
}

/* Main */
body {
    background-color: #2E3142;
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    text-align: center;
    color: white;
}

.workout-options {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.workout-day {
    width: 95%; 
    margin-bottom: 20px; 
    background-color: rgba(71, 61, 135, 0.5);
    border-radius: 10px; 
    padding: 10px; 
}

.workout-day-header {
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
}

.workout-list {
    flex-direction: column;
    max-height: 150px; 
    width: 100%;
    overflow-y: auto; 
}

.workout-list-item {
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.workout-list-item:hover {
    background-color: #c2c2c2;
}


#newGoalInput{
    margin-right: 10px;
}

#goalsList {
    list-style: none;
    padding: 0;
}

.goalItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.goalText {
    flex-grow: 1;
}

/* Styling for <p> elements */
p {
    color: white; 
    margin: 10px 0; 
    font-family: 'Mate SC', serif; 
    font-size: 18px; 
    line-height: 1.5; 
}

button{
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6c6e86;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.optionsButton {
    color: white !important;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
    display: none;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 8px 12px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

/* Goals Form */
#addGoalForm {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#addGoalForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #6c6e86; 
}

#addGoalForm input[type="text"] {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box; 
}

#addGoalForm button[type="submit"] {
    padding: 10px 20px;
    border: none;
    margin-top: 10px; 
    border-radius: 5px;
    background-color: #6c6e86;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addGoalForm button[type="submit"]:hover {
    background-color: #555;
}

/* Goals List */
#goalsBox div {
    margin-top: 20px;
}

#goalsBox h4 {
    margin-bottom: 10px;
    color: white; 
}

.goalsList {
    list-style: none;
    padding: 0;
}

.goalsList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.goalsList .goalText {
    flex-grow: 1;
}

.goalsList button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #6c6e86; 
}

.goalsList button:hover {
    color: #555;
}

/* Style for the current body stats form */
#currentBodyStatsForm {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#currentBodyStatsForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}



#currentBodyStatsForm input[type="number"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#currentBodyStatsForm button[type="submit"],
#addCategoryButton {
    padding: 10px 20px;
    border: none;
    margin: 3px;
    border-radius: 5px;
    background-color: #6c6e86;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#currentBodyStatsForm button[type="submit"]:hover,
#addCategoryButton:hover {
    background-color: #555;
}

.modifyGoalButton, .deleteGoalButton{
    color:black;
}

.hidden {
    display: none;
}

#customWorkoutForm {
    background-color: #f0f0f0; 
    padding: 20px; 
    border-radius: 10px; 
    max-width: 400px; 
    margin: 0 auto; 
}

#customWorkoutForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#customWorkoutForm input[type="text"],
#customWorkoutForm input[type="number"],
#customWorkoutForm select,
#customWorkoutForm textarea {
    width: calc(100% - 20px); 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

#customWorkoutForm button[type="submit"] {
    width: 100%; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    background-color: #6c6e86; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

#customWorkoutForm button[type="submit"]:hover {
    background-color: #555; 
}

#personalLibraryForm {
    background-color: #f0f0f0; 
    padding: 20px; 
    border-radius: 10px; 
    max-width: 400px; 
    margin: 0 auto; 
}

#personalLibraryForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#personalLibraryForm input[type="number"],
#personalLibraryForm select,
#personalLibraryForm textarea {
    width: calc(100% - 20px); 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

#personalLibraryForm button[type="submit"] {
    width: 100%; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    background-color: #6c6e86; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

#personalLibraryForm button[type="submit"]:hover {
    background-color: #555; 
}

#restDayForm {
    background-color: #f0f0f0; 
    padding: 20px; 
    border-radius: 10px; 
    max-width: 400px;
    margin: 0 auto; 
}

#restDayForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#restDayForm select {
    width: calc(100% - 20px);
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

#restDayForm button[type="submit"] {
    width: 100%; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    background-color: #6c6e86; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

#restDayForm button[type="submit"]:hover {
    background-color: #555; 
}


