/* styles for index.html */

/* Header */
header {
    background-color: black; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
}

.logo{
    float: left;
}

h1, h2{
    font-family: 'Mate SC', serif; 
    font-weight: normal;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e3142; 
    color: white;
}

header {
    background-color: #000; 
    color: white;
    text-align: center;
    padding: 1em;
}

p {
    color: white;
}

/* Drop down menu*/
.dropDown{
    position: relative;
    display: inline-block;
}

.dropButton{
    width: 150px;
    border-radius: 0%;
    background-color: #473d87;
    color: white;
    padding: 16px;
    border: none;
}

.dropContent{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropContent a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: wrap;
}

.dropDown a:hover{
    background-color: grey;
}

.dropDown:hover .dropContent{
    display: block; 
    left: auto;
    right: 0%;
}

.dropDown:hover .dropButton{
    background-color: #b637a1;
}
/* End of Drop down menu*/

.profile-symbol {
    background-color: white;
    color: #007bff;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

main {
    max-width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: #6c6e86;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1{
    font-family: 'Mate SC', serif; 
    font-weight: normal;
}

h1, h2, h3 {
    color: white;
    text-align: center;
    
}

.info-container {
    margin-top: 40px;
}

.info-box {
    background-color: rgb(171, 176, 193);
    color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/*Sign Up Home Page*/

.signUpContainer {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    height: 20%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #f9f9f9;
}

.signup-image {
    width: 100%;
    height: 100%;
}

.signUpImageBox{
    width: 50%;
}

.signUpInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.signup-button {
    background-color:#473d87 ;
    color: white;
    padding: 15px 30px;
    width: 50%;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    margin-top: 20px;
}

.signup-button:hover {
    background-color: #b637a1;
}

.create-account-link {
    color: #666;
    margin-top: 20px;
    font-size: 16px;
}

.motivational-piece {
    border-radius: 10px;
    width: 80%;
    padding: 20px;
    margin-top: 30px;
}

.motivational-piece h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.motivational-piece p {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
}


/*info box style*/

/* Website Info Container */
.websiteInfoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 100px;
}

/* Website Info */
.websiteInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    width: 100%;
    overflow: hidden;
}

/* Website Details */
.websiteDetails {
    text-align: center;
    width: 50%;
}

/* Info Image */
.infoImage {
    
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.infoImage img {
    max-width: 100%;
    max-height: 100%;
}

.info {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    width: 80%;
    margin-left: 40px;
}